sentinelsat==0.13
tqdm==4.32.2
pathlib==1.0.1
absl-py==0.7.1
duallog==0.20
netCDF4==1.5.3
tenacity  # https://sentinelsat.readthedocs.io/en/master/api.html#lta-products

# See Dockerfile for installation of Arosics (packages must be installed in correct order)
